.hero {
  width: 80%;
  margin: 0 auto;
  height: max-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 12rem;
}

.hero-text {
  padding-top: 3.6rem;
  line-height: 1.1;
}

.hero-text p:nth-child(1) {
  font-size: 6.6rem;
  font-weight: 800;
  color: var(--primary-font-color);
}

p:nth-child(1) span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: var(--primary-color);
  border-radius: 100%;
}

.hero-text p:nth-child(2) {
  font-size: 3.4rem;
  font-weight: 600;
  color: var(--primary-font-color);
}

p:nth-child(2) span {
  color: var(--primary-color);
}

.hero-text p:nth-child(3) {
  font-size: 1.6rem;
  width: 43rem;
  padding-top: 0.4rem;
  color: var(--secondary-font-color);
}

.programmer-svg {
  justify-self: center;
}
